{{{goBackBlock}}}
<div class="profile__form-container">
    <div class="profile__form">
        {{{avatar}}}
        {{{header}}}
        <section class="profile__data">
            {{{userInfo}}}
        </section>
        <section class="profile__actions">
          <div class="profile__button-container">{{{changeDataButton}}}</div>
          <div class="profile__button-container">{{{changePasswordButton}}}</div>
          <div class="profile__button-container">{{{LogoutButton}}}</div>
        </section>
    </div>
</div>

{{{changeProfileDataModalDialog}}}
